/* Geral */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#timerDisplay {
  width: 110px;
    padding: 10px 0;
    margin: 0 10px ;
    text-align: center;
    background-color: #d1ff02;
    border-top-right-radius: 20px;
    box-shadow: 5px 5px 2px#ffffff;
    border-bottom-right-radius: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #05b8cf;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:focus {
    outline: none;
  }
  
  #stopButton {
    display: none;
  }
  
